.modification-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.modification-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.form__group {
    margin-bottom: 15px;
}

.form__group-title {
    font-weight: bold;
}

.form__label--item {
    padding-right: 400px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 8px 16px;
    width: 500px;
    border-radius: 3px;
    height: 40px;
    appearance: none;
    border-width: 1px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
}